@import "../../../styles/_variables.scss";

.header {
    background-color: $background-color-dark;
    height: 9.8rem;
    padding: 0px 19px;
    gap: 13px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 10; // garante que o header fique por cima

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        color: $text-color-light;
    }

    &__hamburger {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    &__up {
        display: flex;
        justify-content: space-between;
    }

    &__down {
        text-align: end;

        & a {
            color: $text-color-light;
        }
    }
}