@import "../../../styles/_variables.scss";

.btn {
    padding: 0.9rem 6rem;
    min-width: 20.5rem;
    border: none;
    border-radius: $border-radius-base;
    font-size: $font-size-body;
    font-weight: $font-weight-light;
    cursor: pointer;

    &--primary {
        background-color: $button-primary-background;
        color: $text-color-light;

        &:hover {
            background-color: $button-primary-hover;
        }
    }

    &--alternative {
        background-color: $button-alternative-background;
        color: $text-color-primary;

        &:hover {
            background-color: $button-alternative-hover;
        }
    }

    &--danger {
        background-color: $button-danger-background;
        color: $text-color-light;

        &:hover {
            background-color: $button-danger-hover;
        }
    }

    &--medium {
        padding: 0.9rem 2.9rem;
        min-width: 13rem;
    }

    &--small {
        padding: 0.9rem 2.6rem;
        min-width: 10rem;
    }


}