@import "../../../styles/variables";

.input-box{
    display: flex;
    gap: 5px;
    flex-direction: column;

    &__label{
        font-size: $font-size-body;
    }

    &__input{
            padding: $padding-inputs;
            width: 22.3rem;
            border: 1px solid $border-color;
            border-radius: $border-radius-base;
    }
}