@forward './styles/variables';
//Expande para um escopo global as váriaveis de cor

// Aqui estou importando a fonte "Roboto", a que vamos utilizar em nosso projeto
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


// A index.scss será onde vamos colocar as config globais, como: reset e import de fontes.
// Logo abaixo está o reset de todas as páginas
*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
}